.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../assets/images/hero/hero.png) no-repeat center center;
}

.date {
  background: url(../../assets/icons/hero/calendar.svg) no-repeat;
  display: inline-block;
  padding-left: 34px;
  text-transform: uppercase;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
  margin-bottom: 10px;
}

.hero__title {
  color: var(--color-main-orange);
  text-align: center;
  font-family: Jolly Lodger;
  font-size: 3.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 474px;
}

.hero__btn {
  background: url(../../assets/icons/hero/btn-down.svg) no-repeat;
  width: 132px;
  height: 96px;
  cursor: pointer;
  margin-bottom: 100px;
}
