.ticket-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px;
  width: 1440px;
  background-image: url('./src/assets/icons/hosts/skull-1.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: var(--color-black);

}

.ticket-header {
  font-family: 'Jolly Lodger', sans-serif;
  width: 1440px;
  font-size: 58px;
  color: #FE772D;
  margin-bottom: 48px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
}

.ticket {
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 344px;
  height: 464px;
}


#ticket-1,
#ticket-3 {
  background-color: #333;
}

#ticket-2 {
  background-color: #FE772D;
  color: #333;
}

.ticket h2 {
  font-size: 36px;
  margin-bottom: 0px;
  font-family: 'Jolly Lodger', sans-serif;
}

.ticket .price {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0%;
  font-style: normal;
}

.ticket ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-family: 'Rubik';
  font-size: 24px;
}

.ticket li {
  line-height: 2.5;
}

.app-btn--active,
.app-btn {
  display: flex;
  padding: 16px 78px;
  align-items: flex-start;
}
