.footer-section {
  color: #FF8C00; 
  font-family: 'Jolly Lodger', sans-serif; 
  text-align: center; 
  height: 800px ;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.footer-container {
 background-image: 
    url('./src/assets/images/footer/footerbats.png');
  background-position: 
    center bottom; 
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  width: 100%;
  height: 605px;
}

.footer-contact-info {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-top: 300px;
  bottom: 210px;
  font-size: 58px;
  font-style: normal;
  line-height: 140%; 
}

.social-media {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
}

.social-media-img {
  width: 40px;
  height: 40px;
}
