.header {
  padding: 3rem 9.375rem 3.375rem;
  background-color: var(--color-black);
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo__link {
  font-family: Jolly Lodger;
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-main-white);
}

.logo__link:hover,
.translate__link:hover,
.nav__item-link:hover {
  color: var(--color-main-orange);
}

.nav__list {
  width: 440px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__item-link {
  text-decoration: none;
  color: var(--color-main-white);
}


.translate__link {
  text-decoration: none;
  color: var(--color-main-white);
}
