.app-btn {
  padding: 16px 24px;
  font-family: Rubik;
  text-transform: capitalize;
  border-radius: 16px;
  border: none;
  outline: none;
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--color-main-orange);
}

.app-btn:hover {
  background-color: var(--color-black);
  color: var(--color-second-white);
}

.app-btn--active {
  background-color: var(--color-black);
  color: var(--color-second-white);
}
