@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@500;700&display=swap');

:root {
  --color-main-white: #f5f5f5;
  --color-white: #fff;
  --color-second-white: #e6eaee;
  --color-third-white: #f9f9f9;
  --color-main-orange: #fe772d;
  --color-red: #fe2d2d;
  --color-black: #000015;
  --color-gray: #333333;
  --color-bg-card: linear-gradient(0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%),
    var(--Gray, #333);
}

.ar {
  flex-direction: row-reverse;
}

body {
  color: var(--color-main-white);
  font-family: "Jolly Lodger", sans-serif;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 16px;
}

div {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0
}

.section {
  width: 1440px;
  background-color: var(--color-black);
}

ul {
  list-style-type: none;
}
