.gallery {
  position: relative;
  margin: 0 auto;
  
}

.memories-section-heading {
  color: var(--color-main-orange);
  text-align: center;
  font-family: 'Jolly Lodger', sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 48px 14px 100px;
  gap: 48px;
}

.gallery-image {
  width: 244px;
  height: 244px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 16px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
